html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #26a69a;
  height: 70px;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
}
.nav li {
  cursor: pointer;
  color: white;
  font-size: 25px;
  padding: 20px;
}
.nav li:after,
.nav li.active:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}
.nav li:hover:after {
  width: 100%;
}
.nav li.active {
  font-weight: 700;
}
.nav li.active:after {
  width: 100%;
}
header.header .input {
  background: #fff;
  padding: 0 10px;
  margin: 0;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  width: 250px;
}

.app {
  padding: 2.5rem;
}
.counter {
  font-size: 20px;
}

.preloader {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.movies.hide {
  display: none;
}

.card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.card-image {
  height: 100%;
  height: 300px;
  position: relative;
}
.card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}
.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.card-title {
  z-index: 2;
}

.like-button {
  cursor: pointer;
  /* transition: all 0.2s; */
  right: 15px;
  top: 15px;
  position: absolute;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 10;
}

.like-button:hover {
  /* background-color: #26a69a; */
  background: linear-gradient(to bottom, #06b97c 0, #0d966e 89%) #06b97c;
  box-shadow: 0 5px 9px 1px rgb(0 0 0 / 23%), 0 0 10px 0 rgb(0 212 135 / 70%);
  color: white;
}

.like-button-active {
  color: #26a69a;
}

@media (max-width: 900px) {
  .header {
    padding: 2rem;
    flex-direction: column;
    height: auto;
  }
}
